{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}

            <div class="book col-md-4">
                <h2><a href="#">{{book.name}}</a></h2>
                <p>{{book.author}}</p>
                <p>{{book.pub_date}}</p>
            </div>
            {% endfor %}
        </div>
        {% if previous and next %}
            <br><hr>
            <a href="../{{previous.pub_date}}/">{{previous.pub_date}}</a> | 
            <a href="#">{{next.pub_date}}</a>
        {% elif previous %}
        <br><hr>
        <a href="#">{{previous.pub_date}}</a>
        {% elif next %}
        <br><hr>
        <a href="#">{{next.pub_date}}</a>
        {% endif  %}
    </div>
    
{% endblock %}